.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: #FFFFFF;
  margin: 50px auto;
  max-width: 200px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 30px #BDBDBD;
  margin: 20px;
}

.card_image {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  max-height: 200px;
}

.card_title{
  padding: 20px;
  margin: 0;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
  justify-content: center;
}

.main-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  margin: 0;
  background-color: #BDBDBD;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
